<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- 프로젝트 이름 -->
  <display-name>SWsales</display-name>
  
   <servlet>
  	<servlet-name>ContorllerUsingURI</servlet-name>
  	<servlet-class>swsales.mvc.ContorllerUsingURI</servlet-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/commandHandler.properties</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>DBCPinit</servlet-name>
  	<servlet-class>swsales.jdbc.DBCPinit</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContorllerUsingURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>CharercterencodingFilter</filter-name>
  	<filter-class>swsales.util.CharercterencodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharercterencodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>